node_modules/
.idea/
*.iml
test/**/*.js
test/**/*.map
test/**/*.d.ts
lib/**/*.js
lib/**/*.map
lib/**/*.d.ts
coverage/
.nyc_output
etc
priv
.travis.yml
tslint.json
package-lock.json

# Yarn Berry, not using Zero-Installs:
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
